### Manipulation data frame with polars and pandas

In [51]:
import pandas as pd
import numpy as np
import polars as pl
import pygwalker as py

In [74]:
##Importation des données
d = pd.read_csv("Pokemon.csv")
f = pl.scan_csv("Pokemon.csv")
#Montrer les noms des colonnes
f.collect_schema()
#Nom des valeurs uniques de Type 1
d["Type 1"].unique()
f.select(pl.col("Type 1").unique()).collect()
d.loc[d["Attack"]>50][["Name","Generation"]]

                      Name  Generation
1                  Ivysaur           1
2                 Venusaur           1
3    VenusaurMega Venusaur           1
4               Charmander           1
5               Charmeleon           1
..                     ...         ...
795                Diancie           6
796    DiancieMega Diancie           6
797    HoopaHoopa Confined           6
798     HoopaHoopa Unbound           6
799              Volcanion           6

[630 rows x 2 columns]

Izaho mieriettre hoe raha anao manap tsotra nagmba dia pandas no tsotsotra nohon polars fa n polars kosa mora hay n scipt atao aminy
NB: rehefa manao python dia aza adino rehef amano query anak1 dai asiana () faona

In [97]:
%%time
f.filter(pl.col("Type 1")=="Rock").select(pl.col("Attack").sum()).collect()
f.filter((pl.col("Legendary")==True) | 
          pl.col("HP")>100).select((pl.col(["Name","Legendary"]))).collect()

#Grouping by adn aggregate
f.group_by("Legendary").agg(pl.sum(["Attack","Defense"]),
                             pl.median("HP").alias("Health Point")).sort(by="Health Point",descending=True).collect()


#Filtrage en selctionnat plusierus modalitées
f.filter(pl.col("Type 1").is_in(["Fire","Rock"])).collect()

#Describe
f.describe()

#Select simple
f.filter("Type 1"=="Fire").select("Attack").collect()

CPU times: total: 15.6 ms
Wall time: 36.2 ms

shape: (0, 1)
┌────────┐
│ Attack │
│ ---    │
│ i64    │
╞════════╡
└────────┘